@import "./../../style/root";

.cashFlow{
    height: 100vh;
    h3{
        text-align: center;
        margin-top: 3rem;
        color: $darkDesignColor;
    }
    .cashFlowTable{
        table{
            width: 50%;
            text-align: left;
            margin: 3rem auto;
            border-collapse: collapse;

            .heading{
                color: $whiteColor;
                font-weight: 700;
                font-size: 1.4rem;
                letter-spacing: 1px;
                border-bottom: 2px solid $darkDesignColor;
                border-top: 2px solid $darkDesignColor;
                background-color: $darkDesignColor;

                tr{
                    th{
                        padding: 0.5rem 0.3rem;
                    }
                }
            }
            tbody{
                .expense-heading,
                .income-heading{
                    font-weight: 500;
                    font-size: 1.1rem;
                    position: relative;
                    color: $primaryColor;
                    font-family: $primaryFont;
                    td{
                        padding: 0.5rem 0;
                    }
                }
                .rev-details,
                .exp-details{
                    td{
                        &:first-of-type{
                            padding: 0.5rem 0 0.5rem 1rem;
                        }
                    }
                }
                .total-expense,
                .total-income{
                    font-family: $primaryFont;
                    font-weight: 600;
                    position: relative;
                    color: $primaryColor;
                    
                    td{
                        padding: 0.6rem 0;
                    }

                    &:after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: black;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
            
            tfoot{
                border-top: 3px solid $blackColor;
                border-bottom: 1px solid $blackColor;
                font-size: 1.2rem;
                letter-spacing: 1.1px;
                tr th{
                    padding: 0.4rem 0;
                }
            }
        }
    }
}
@media (max-width:1000px){
    .cashFlow {
        .cashFlowTable{
            table{
                width: 80%;
            }
        }
    }
}
@media (max-width:650px){
    .cashFlow {
        .cashFlowTable{
            table{
                width: 95%;
            }
        }
    }
}