@import '../../style/root';

.home-page{
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.9), rgba(243,
    246,252, 0.9));
    min-height: 100vh;
    padding-top: 5rem;
    margin-bottom: 2rem;
    overflow-x: hidden;

    .journalEntryForm-total{
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:900px){
    .home-page{
        .journalEntryForm-total{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

// url(../../assets/homeBackground.png) right/60% no-repeat