@import "../../style/root.scss";

.revenueExpense{
    margin-top: 2rem;
    
    section {
        display: flex;

        figure{
            img{
                height: 100px;
            }
            p{
                color: $darkDesignColor;
                font-size: clamp(1.2rem, 4vw, 1.5rem);
            }
            
        }
    }
    .result div{
        box-shadow: 0 0 5px $darkDesignColor;
        border-radius: 5px;
        
        p{
            padding: 2rem 1rem;
            border-radius: 5px;
            background-color: $whiteColor;
            font-size: 1.2rem;
        }
        .positive span{
            color: #008000;
        }
        .negative span{
            color: #ff0000;
        }
    }
}
@media (max-width:600px) {
    .revenueExpense{
        width: 95%;
        margin: 0 auto;

        section {        
            figure {
                img {
                    height: 80px;
                }
            }
        }
    }
}