// color
// $primaryColor : #05c1b9;
$primaryColor : #ACBFE6;
$whiteColor: #fff;
$blackColor: #000;
$backgroundColor: #f0f5ff;
$darkDesignColor: #32456b;

// typography
$primaryFont: 'Montserrat',sans-serif;
$secondaryFont: 'Nunito Sans',sans-serif;
