// color
// $primaryColor : #05c1b9;
$primaryColor : #ACBFE6;
$whiteColor: #fff;
$blackColor: #000;
$backgroundColor: #f3f6fc;
$darkDesignColor: #32456b;
$gradientOne: #845ec2;
$gradientTwo:#d65db1;

// typography
$primaryFont: 'Montserrat',sans-serif;
$secondaryFont: 'Nunito Sans',sans-serif;
