@import '../../style/root.scss';

.signUp{
    background-color: $backgroundColor;
    height: 100vh;
    padding-top: 3rem;
    
    h2{
        text-align: center;
        color: $darkDesignColor;
        padding-top: 2rem;
        text-decoration: underline;
    }
    p {
        color: $darkDesignColor;
        letter-spacing: 1px;
        margin: 0 auto;
        text-align: center;
        width: 50%;
        font-size: 1.5rem;
        margin-top: 5rem;
        line-height: 1.5;
    }
    
    .signUp-form{
        display: flex;
        align-items: center;
        justify-content: center;
        form{
            input{
                display: block;
                margin: 1.5rem 0;
                width: 300px;
                height: 40px;
                border-radius:5px;
                padding: 0.5rem 0 0.5rem 1rem;
                letter-spacing: 1px;
                background: transparent;
                border: 2px solid $darkDesignColor;
                color: $darkDesignColor;
            }
            .signUp-btn{
                width: 100%;
                background-color: $darkDesignColor;
                border: 2px solid $darkDesignColor;
                color: $whiteColor;
                letter-spacing: 1px;
            }
            .signUp-disable-btn{
                background-color: $backgroundColor;
                width: 100%;
                border: 2px solid $darkDesignColor;
                color: $darkDesignColor;
                letter-spacing: 1px;
            }
        }
        
        .manImage{
            img{
                height: 500px;
            }
        }
    }
}