@import '../../style/root.scss';

.signUp{
    height: 100vh;
    padding-top: 3rem;
    
    h2{
        text-align: center;
        color: $darkDesignColor;
        padding-top: 2rem;
        text-decoration: underline;
    }
    .companyHeading{
        color: $darkDesignColor;
        letter-spacing: 1px;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        font-size: clamp(1rem, 4vw, 1.3rem);
        margin-top: 5rem;
        line-height: 1.5;
    }
    
    .signUp-form{
        display: flex;
        align-items: center;
        justify-content: center;
        form{
            width: 300px;
            input{
                display: block;
                margin: 1.5rem 0;
                width: 100%;
                height: 40px;
                border-radius:5px;
                padding: 0.5rem 0 0.5rem 1rem;
                letter-spacing: 1px;
                background: transparent;
                border: 2px solid $darkDesignColor;
                color: $darkDesignColor;
            }
            .signUp-btn{
                width: 100%;
                background-color: $darkDesignColor;
                border: 2px solid $darkDesignColor;
                color: $whiteColor;
                letter-spacing: 1px;
            }
            .signUp-disable-btn{
                background-color: $backgroundColor;
                width: 100%;
                border: 2px solid $darkDesignColor;
                color: $darkDesignColor;
                letter-spacing: 1px;
            }
        }
        
        .manImage{
            img{
                height: 500px;
            }
        }
    }
}

@media (max-width:900px) {
    .signUp {
        .companyHeading {
            width: 70%;
        }

        .signUp-form{
            .manImage img {
                height: 300px;
            }
        }
    }
}

@media (max-width:680px) {
    .signUp{
        margin-bottom: 4rem;
        
        .companyHeading {
            width: 85%;
        }

        .signUp-form{
            margin-top: 2rem;

            .manImage img {
                display: none;
            }
        }
    }
}